
.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
main {
    margin-top: 200px;
}
li a {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    text-decoration: none;
}

li a:hover {
    background-color: #f4d142;
    color: black;
}
div span{
    color: #f4d142;
}

#logo{
    
    font-size: 60px;
    color: #f4d142;
    font-style: italic;
    font-weight: 800;
    text-decoration: none;
}

#login {
    margin-right: 30px;
    background-color: #f4d142;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: 1px solid #f4d142;
}

#login:hover {
    background-color: black;
    color: #f4d142;
    border-style: solid;
    border-color: #f4d142;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f4d142;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    background-color: #f4d142;;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: black;
    color: #f4d142;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {
    background-color: #f4d142;
    color: black;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-family: "arial";
    z-index: 10;
    background-color: black;
}

ul {
    
}
#svgtest{
    fill:red;
}

#desktopMenu{
    display: flex;
    justify-content: center;
    align-items: center;
}

#header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#header-right{
    width: 400px;
    display: flex;
    justify-content: space-between;
}
.separator-vertical{
    border-right: 1px solid #3f3f3f;
    height: 40px;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0; 
    width: 100%;
}

hr {
    color: #f4d142;
    width: 100%;
}

#searchfield {
        margin-left: 20px; 
        margin-bottom: 20px;
}